<%- include('header_admin') %>

    <section id="banner" class="section-p">
        <h1>Tous les Enseignants (<%= count %>)</h1>
        <a href="/nouvel-enseignant"><i class="fa-solid fa-person-chalkboard"></i> Ajouter un enseignant</a>
       
    </section>
    
    <% if(teachers == "") { %> 
        <section id="empty" class="section-p">
            <img src="img/empty.jpg" alt="" >
            <h1>Aucun enseignant n'a été enrégistré (0)</h1>
        </section>
    <% }else{ %> 
        <section id="student" class="section-p teacher">
            <div class="student-filter">
                <h2><i class="fa-solid fa-filter"></i>Trier par</h2>
                <p><i class="fa-solid fa-arrow-up-a-z"></i>nom</p>
                <p><i class="fa-solid fa-graduation-cap"></i>grade</p>
                <p><i class="fa-solid fa-folder-tree"></i>ancienneté</p>  
            </div>
    
            <div class="student-card">
                <% teachers.forEach((teacher) => { %> 
                    <div class="student-box">
                        <img src="<%= teacher.image %>" alt="" class="rounded-circle">
                        <p><%= teacher.matricule %> </p>
                        <p><%= teacher.civilite + " " + teacher.nom %> </p>  
                      
                        <p><i class="fa-solid fa-graduation-cap"></i> <%= teacher.grade %></p> 
                        <div class="student-option">
                            <% if(teacher.archiver == "non") { %> 
                                <a href="/archive_teacher/<%= teacher._id %>" title="Archiver" onclick="return confirm('<%= teacher.nom %> sera archivé. OK ?')"><i class="fa-regular fa-file-zipper"></i> </a>
                                <a href="/gestion-des-enseignants?action=assigner&id=<%= teacher._id %>" title="Assigner classe et module"><i class="fa fa-link"></i></a>
                                <a href="/modifier-enseignant/<%= teacher._id %>" title="Modifier"><i class="fa-solid fa-user-pen"></i> </a>
                            <% }else { %>
                                <a href="/archive_teacher/<%= teacher._id %>" title="Archiver" hidden><i class="fa-regular fa-file-zipper"></i> </a>
                                <a href="" title="Assigner classe et module"  hidden><i class="fa fa-link"></i></a>
                                <a href="/modifier-enseignant/<%= teacher._id %>" title="Modifier" hidden><i class="fa-solid fa-user-pen"></i> </a>
                            <% } %>
                           
                            <a href="" title="Voir informations" data-bs-toggle="modal" data-bs-target="#<%= teacher.matricule %>"><i class="fa-solid fa-circle-info"></i> </a>
                        </div>
                    </div>
                    <div class="modal fade" id="<%= teacher.matricule %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title text-center" id="staticBackdropLabel">Enseignant N° <%= teacher.matricule %></h5>
                            <a type="" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                            </div>
                            <div class="modal-body">
                               
                                <img src="<%= teacher.image %>" alt="" class="rounded-circle">
                                <p onclick="window.location.href='/modifier-image-enseignant/<%= teacher._id %>'"><i class="fa-solid fa-pen-to-square"></i> Modifier image</p>
                                
                                <div class="list-group">
                                  
                                    <a href="#" class="list-group-item list-group-item-action"><strong>Nom :</strong> <%= teacher.nom %></a>
                                    <a href="#" class="list-group-item list-group-item-action"><strong>Prénom :</strong> <%= teacher.prenom %></a>
                                    <a href="#" class="list-group-item list-group-item-action"><strong>Adresse e-mail :</strong> <%= teacher.email %></a>
                                    <a href="#" class="list-group-item list-group-item-action"><strong>Téléphone :</strong> <%= teacher.telephone %></a>
                                    <a href="#" class="list-group-item list-group-item-action"><strong>Adresse :</strong> <%= teacher.adresse %></a>
                                    <a href="#" class="list-group-item list-group-item-action"><strong>Grade :</strong> <%= teacher.grade %></a>
                                    <a href="#" class="list-group-item list-group-item-action"><strong>Inscrit le </strong> <%= teacher.dateInscription %></a>
                                  </div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                <% })  %> 
               
            </div>
           
          
        </section>
    <% }%> 
    
   
   
<%- include('../layout/footer') %>